<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">TRELLO</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div>
    <button mat-raised-button color="accent" type="button" (click)="logOut()" >
      Logout
    </button>
  </div>
</nav>
<body class="text-white">
  <app-side-bar (selectedBoardEvent)="selectBoard($event)" class="board-comp"></app-side-bar>
  <!-- <mat-divider [vertical]="true"></mat-divider> -->
  <div class="board-panel">
    <app-board *ngIf="currentBoardId != null" [currentBoardId]="currentBoardId"></app-board>
  </div>
</body>