<div class="d-flex flex-row justify-content-evenly mt-3" style="width: 100%">
    <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()" mat-dialog-content class="d-flex flex-column">
        <h2>Log in</h2>
        <mat-form-field appearance="outline">
            <input matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="loginForm.controls['email'].hasError('required')">
                Email is required
            </mat-error>
            <mat-error *ngIf="loginForm.controls['email'].hasError('email')">
                Please enter a valid email
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
                <input matInput placeholder="Password" type="password" formControlName="password">
                <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
                Password is required
                </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
            Login   
        </button>
    </form>
    <form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()" mat-dialog-content class="d-flex flex-column">
        <h2>Register</h2>
        <mat-form-field appearance="outline">
            <input matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="registerForm.controls['email'].hasError('required')">
                Email is required
            </mat-error>
            <mat-error *ngIf="registerForm.controls['email'].hasError('email')">
                Please enter a valid email
            </mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="outline">
            <input matInput placeholder="Password" type="password" formControlName="password">
            <mat-error *ngIf="registerForm.controls['password'].hasError('required')">
                Password is required
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <input matInput placeholder="Username" formControlName="username">
            <mat-error *ngIf="registerForm.controls['username'].hasError('required')">
                Username is required
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <input matInput placeholder="Full name" formControlName="fullName">
            <mat-error *ngIf="registerForm.controls['fullName'].hasError('required')">
                Full name is required
            </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">
            Register
        </button>
    </form>
</div>
